
.home-header {
    position: relative;
    top: 15vh;
    margin: 0 10vw;
    text-align: center;
}

.ul-flex-center {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.li-center {
    justify-content: center;
}

.header-init {
    color: var(--primary-hover);
}

.button-cust {
    padding: .1rem .06rem;
    margin: 0.3rem 0.2rem;
}

@media screen and (max-width: 600px) {
    .home-header{
        top: 10vh;
        margin: 0 5vw;
    }
}