
.home-header {
    position: relative;
    top: 15vh;
    margin: 0 25%;
    text-align: center;
}

.ul-flex-center {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.li-center {
    justify-content: center;
}

code {
    padding: .1rem .5rem;
    width: 100%;
    margin: auto;
    font-size: 60%;
    white-space: nowrap;
    background: #f5f1f1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; 
    overflow: auto;
    justify-content: space-around;
    }

pre > code {
    display: block;
    padding: 1rem 0.5rem;
    white-space: pre; }

.header-init {
    color: var(--primary-hover);
}

.button-cust {
    padding: .1rem .06rem;
    margin: 0.3rem 0.2rem;
}

.doc-container {
    margin-left: 195px;
    border-left: 2px solid var(--secondary-color);
    height: max-content;
    padding: 0.5rem;
    line-height: 0.3rem;
}