@import './Components/main.css';
@import './Components/navi.css';
@import './Components/sidebar.css';
@import './Components/button.css';
<<<<<<< Updated upstream
@import './Components/badge.css';
=======
@import './Components/avatar.css';
>>>>>>> Stashed changes
@import './Components/alert.css';
@import './Components/avatar.css';
@import './Components/documentation.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --primary-hover: #4fc3f1;
    --secondary-color: #1a1818;
    --secondary-hover: #248cf3;

    --blue:#0d6efd;
    --indigo:#6610f2;
    --purple:#6f42c1;
    --pink:#d63384;
    --red:#dc3545;
    --orange:#fd7e14;
    --yellow:#f8ba00;
    --green:#198754;
    --teal:#20c997;
    --cyan:#0dcaf0;
    --white:#fff;
    --gray:#6c757d;
    --gray-dark:#343a40;
    --gray-100:#f8f9fa;
    --gray-200:#e9ecef;
    --gray-300:#dee2e6;
    --gray-400:#ced4da;
    --gray-500:#adb5bd;
    --gray-600:#6c757d;
    --gray-700:#495057;
    --gray-800:#343a40;
    --gray-900:#212529;
    --primary:#0d6efd;
    --secondary:#6c757d;
    --success:#198754;
    --success-bg:#88d1af;
    --info:#0dcaf0;
    --info-bg:#93d8e5;
    --warning:#ffc107;
    --warning-bg:#f7e7ba;
    --danger:#dc3545;
    --danger-bg:#e7858e;
    --light:#f8f9fa;
    --dark:#212529;
    --primary-rgb:13,110,253;
    --secondary-rgb:108,117,125;
    --success-rgb:25,135,84;
    --info-rgb:13,202,240;
    --warning-rgb:255,193,7;
    --danger-rgb:220,53,69;
    --light-rgb:248,249,250;
    --dark-rgb:33,37,41;
    --white-rgb:255,255,255;
    --black-rgb:0,0,0;
    --body-color-rgb:33,37,41;
    --body-bg-rgb:255,255,255;
}

html {
    scroll-behavior: smooth;
    font-size: 200.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: block;
}

a {
    text-decoration: none;
}

ul {list-style: none;}

button,a {
    cursor: pointer;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*------------Heading-------------*/
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 300; }
    
  h1 { font-size: 48px; margin-bottom: 1.5rem;} 
  h2 { font-size: 32px; margin-bottom: 1rem;}
  h3 { font-size: 24px; margin-bottom: .8rem;}
  h4 { font-size: 16px; margin-bottom: .6rem;}
  h5 { font-size: 8px; margin-bottom: .4rem;}
  h6 { font-size: 4px; margin-bottom: .2rem;}
  
  /* Larger than phablet */
  @media (min-width: 550px) {
    h1 { font-size: 56px; }
    h2 { font-size: 48px; }
    h3 { font-size: 40px; }
    h4 { font-size: 32px; }
    h5 { font-size: 24px; }
    h6 { font-size: 16px; }
  }
  

/*-------Text--------*/
p { margin-top: 0; }

.p1  { font-size: 48px; } 
.p2  { font-size: 32px; }
.p3  { font-size: 24px; }
.p4  { font-size: 16px; }
.p5  { font-size: 8px; }

/*-----Font Weight------*/

.light { font-weight: 300;}
.regular { font-weight: 400;}
.semibold { font-weight: 600;}
.bold { font-weight: 700;}
.black { font-weight: 900;}

/*----Spacing----*/

.spacing-xs {letter-spacing: 4px;}
.spacing-s {letter-spacing: 8px;}
.spacing-m {letter-spacing: 12px;}
.spacing-l {letter-spacing: 16px;}
.spacing-xl {letter-spacing: 20px;}
.spacing-xxl {letter-spacing: 24px;}

/*-----Border Radius------*/

.bordius-s {border-radius: 5px;}
.bordius-m {border-radius: 10px;}
.bordius-l {border-radius: 15px;}
.bordius-full {border-radius: 999px;}
<<<<<<< Updated upstream


/* Botton
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button {
    border: none;
    outline: none;
    cursor: pointer;
}
  
.button {
      font-size: 0.8rem;
      width: 6rem;
      outline: none;
}

.button-primary {
    color: var(--primary-color);
    background-color: var(--primary-hover);
}

.button-primary:hover {
    background-color: var(--secondary-hover);
}

.button-secondary {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.button-secondary:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
=======
>>>>>>> Stashed changes
