.grid {
    display: grid;
    padding: 5px;
}
.col-2 {grid-template-columns: repeat(2, auto)}
.col-3 {grid-template-columns: repeat(3, auto)}
  /*Card example*/
 .card-eg {
    width : min-content;
    height : max-content;
    background-color: var(--gray-500);
}
 .card-img-eg {
    width : 9rem;
    height : 100%;
}
